- if user_signed_in?
  %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar_text'
- else
  %li= link_to 'Login', new_user_session_path, class: 'navbar_text'
  %li= link_to 'Register', new_user_registration_path, class: 'navbar_text'
